{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
            <div class="row">
                <div class="col-lg-9 order-lg-2 mb-30">
                   
                    <!-- content 1 -->
                    {% for data1 in data1  %}
                    <div class="banner-img mt-30 mb-30">
                        <a href="#"><img src="{{data1.banner.url}}" alt=""></a>
                    </div>
                    <h1>{{data1.title}}</h1>
                    <div>
                        {{data1.content | safe}}
                    </div>
                    
                    {% endfor %}
                    <br>
                   
                </div>
                <div class="col-lg-3">
                    <!-- shopping area title -->
                    <div class="sidebar-area-title mb-30">
                            <a data-toggle="tooltip" title="RKODE" href="#"><img src="{% static 'assets/img/logo-footer.png'%}" alt=""></a>
                    </div>
                    <div class="shopping-left-side mb-30">
                        <!-- category sidebar -->
                        
                        <!-- manufacture -->
                        <div class="single-layout">
                            <div class="layout-title">
                                {% for ttl in ttl  %}
                                    <h6>{{ttl.title}}</h6>

                                {% endfor %}
                            </div>
                            <ul class="lay-out-list">
                                {% for data in data  %}
                                    <li><a href="{% url 'detail_Programing' data.sub_category data.slug %}"><i class="fas fa-angle-double-right"></i>{{data.title}}</a></li>
                                {% endfor %}
                                
                                
                            </ul>
                        </div>
                        <!-- sidebar color -->
                       
                    </div>
                    
                    <div class="banner-img mt-30 mb-30">
                        <a href="#"><img src="{% static 'assets/img/banner/giphy_5.gif' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </div></section>
{% endblock content %}